.toolbar {
  height: 5vh;
}

.m2c2kit-iframe {
  border: 0;
  margin: 0;
  padding: 0;
  height: 90vh;
}

.code-editor-column-visible {
  display: flex;
  flex-direction: column;
}

.code-editor-column-hidden {
  display: none;
}

.js-editor {
  height: 70vh;
  width: 55vw;
}

.html-editor {
  height: 20vh;
  width: 55vw;
  border-top: 2px solid gray;
  margin-top: 4px;
  padding-top: 4px;
}

.compilation-message {
  color: red;
  margin-right: 4px;
}
